<aside>
    <div class="container">
        <nav>
            <ul>
                <li><a href="/" class="gdzhao-link">
                     About Me
                </a></li>
                {% for page in site.pages %}{% if page.title and page.permalink %}
                <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                {% endif %}{% endfor %}
                <li><a href="/blog">Blog</a></li>
            </ul>
        </nav>
    </div>
</aside>

<header>
    <img class="header-image" src="{{ '/assets/pictures/header_page.png' | prepend: site.baseurl }}" alt="">
    <h1>{{ site.title }}</h1>
</header>