<aside>
    <div class="container">
        <nav>
            <ul>
                <li><a href="/" class="gdzhao-link">
                     Gdzhao
                </a></li>
                {% for page in site.pages %} {% if page.title %}
                <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                {% endif %} {% endfor %}
                <li><a href="/blog">Blog</a></li>
            </ul>
        </nav>
    </div>
</aside>

<header>
	<h1>{{ site.title }}</h1>
</header>