<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}
    <div class="sidebar">
      <nav id="outline"></nav>
    </div>
    <main class="with-sidebar">
      <article>
        <h2>{{ page.title }}</h2>
        <time>{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</time>
        {{ content }}
      </article>
      {% include footer.html %}
    </main>
    <script src="{{ '/assets/js/sidebar.js' | prepend: site.baseurl }}"></script>
  </body>
</html>
